<h2>Title: <%= @movie.title %></h2>
<p>Year Released: <%= @movie.year %></p>
<p>Genre: <%= @movie.genre %></p>

<% @movie.actors_by_age.each do |actor| %>
  <p>* <%= actor.name %></p>
<% end %>

<p> Average Age = <%= @movie.actors_average_age %></p>

<p>Add New Actor:</p>
<%= form_tag("/movies/#{@movie.id}", method: :post) do %>
  <%= label_tag "Name: " %>
  <%= text_field_tag :name %>

  <%= submit_tag "Add Actor to Movie" %>
<% end %>
